@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin: 0;
  background-color: #feafc3;
}

.banana-theme {
  background-color: #69a9ff;
}

.marshmallow-theme {
  background-color: #fcc850;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 26px;
  padding: 12px 32px;
  border: 0;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  cursor: pointer;
}

.order-button {
  color: #2d3440;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.filter-button {
  font-size: 14px;
  padding: 8px 53px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px #fcfcfc solid;
}

.page-header {
  line-height: 20px;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.user-navigation-link {
  text-decoration: none;
  color: inherit;
}

.navigation-contact-phone-link {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.slider-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
}

.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.delivery-title {
  text-align: left;
}

.gift-item {
  background-color: #ff7799;
}

.gift-description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.product-item {
  background-color: #fcfcfc;
}

.product-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
}

.product-item-link {
  text-decoration: none;
}

.product-item-description {
  color: #565c66;
}

.product-item-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.advantages {
  background-color: #ffffff;
}

.advantages-item {
  color: #565c66;
}

.blog {
  background-color: #fcfcfc;
  background-image: url("../images/background/news.jpg");
  background-repeat: no-repeat;
}

.blog-new {
  line-height: 20px;
  color: #565c66;
  font-weight: 400;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #2d3440;
}

.newsletter {
  background-color: #ffffff;
}

.newsletter-add {
  color: #565c66;
}

input::placeholder {
  font: inherit;
  color: #b9b9b9;
}

.newsletter-form input,
.delivery-form input {
  font: inherit;
}

.delivery {
  background-color: #fcfcfc;
  background-image: url("../images/background/delivery.jpg");
  background-repeat: no-repeat;
}

.delivery-description {
  color: #565c66;
}

.delivery-form-description {
  color: #565c66;
}

.form-label {
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
}

.main-contact {
  background-color: #fcfcfc;
  background-image: url("../images/background/feedback.jpg");
  background-repeat: no-repeat;
}

.contact-adress {
  font-style: normal;
}

.contact-adress-description {
  color: #565c66;
}

.contact-adress-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main-contacts-phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #2d3440;
}

.about-us-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.for-provider {
  font-weight: 700;
}

.creator-description {
  font-size: 12px;
  line-height: 16px;
}

.creator-description a {
  color: #2d3440;
}

.icecream-type {
  text-align: left;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
}

.bread-crumbs-item:last-child {
  text-decoration: underline;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-group {
  border: 0;
}

.catalog-filter-list {
  background-color: rgba(252, 252, 252, 0.3);
}

.select-control {
  background-color: rgba(252, 252, 252, 0.3);
  border: 0;
}

.pagination-link {
  color: #2d3440;
  text-decoration: none;
  line-height: 20px;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 76px;
}
